.secction2 {
    width: 100vw;
    /* padding: 8px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    
}
.secction2 .s2Child{
    width: 98%;
    /* border: 1px solid red; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 50px;
    color: rgb(97, 11, 35);
    padding: 30px;
    border-bottom: 1px solid gray;
    /* background-color: rgb(97, 11, 35); */
}
.secction2 .s2Child1{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.secction2 .s2Child1 div{
    width: 100%;
    /* border: 2px solid green; */
    text-align: center;
}