* {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer .footChild{
    width: 98%;
    height: 60px;
    background: grey;
    color: white;
    text-align: center;
    padding-top: 18px;
    margin-bottom: 30px;
}
.footer .footChild2{
    width: 98%;
    height: 60px;
    /* background: grey;
    color: white; */
    text-align: center;
    padding-top: 18px;
    margin-bottom: 30px;
}